<ion-view view-title="Survey List" class="main_row" >
	<ion-nav-bar class="bar-stable bar-positive" style="position:fixed; width:100%; padding-bottom:2%;">
  	<button class="button button-icon button-clear ion-navicon" menu-toggle="right" style="color:#FFF !important; float: right; font-size: 30px; z-index:999;"></button>
  </ion-nav-bar>

  <ion-content class="surveyPage" style="margin-top:4%;">
  
	<div class="row" style="margin-top:-8%;">
		<div class="col">
			
			<div class="row">
				<div class="col question_div">
					<div class="qus_head">
						<p>Completed Survey List</span></p>
					</div>
						<div class="list">

							  <label class="item item-input item-select">
							    <div class="input-label">
							      Select Survey
							    </div>
							    <select ng-change="surveyChange()" name="surveySelect" ng-model="surveySelect">
							      <option ng-repeat="(key, value) in list" value="{{key}}">{{value}}</option>
							    </select>
							  </label>

						</div>
					<div class="qus_footer">
						<!-- <p>Maxime quis.</p> -->
					</div>
				</div>
			</div>
			<div class="list list-inset">

			    <div class="item" ng-repeat="(key, value) in PendingSurvey">
			      <label style="float:left;">{{value.surveydate}}</label>
			      <i class="icon ion-ios-information-outline" style="float:right !important; font-size:20px; color:red;" ng-show="{{value.exportNo}}"></i>
			      <i class="icon ion-checkmark" style="float:right !important; font-size:20px; color:green;" ng-show="{{value.exportYes}}"></i>
			    </div>

			</div>
			<button class="button button-block button-assertive" ng-click="exportSurv()">
			  Export Survey Result
			</button>
		</div>
	</div>

	


  </ion-content>
</ion-view>



	