<ion-view hide-nav-bar="true" view-title="Dashboard" style="background: url('img/dashboard.jpg');">
	
  <ion-content class="homeBack">
	<div class="row responsive-lg">
		<div style="float: right !important; padding-right: 3%;">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="right" style="color:#FFF !important; float: right; font-size: 30px;"></button>
		</div>
		<div style="text-align:center;">
			<img src="img/icon.png" style="width:50%;max-width:25%" />
			<h3 style="color:#FFF;">Welcome User</h3>
		</div>
		<div class="row" style="margin: 0 auto; margin-left: 4.5%;">
			<div class="col">
				<div class="btn-big orange" ng-click="goToSurvey()">
		        	<i class="fa fa-bar-chart fa-2x"></i>
		        	<span class="label bottom">Start Survey</span> 
		        </div>

				<!-- <div class="btn-small red">
						        	<i class="fa fa-wrench fa-2x"></i>
						        	<span class="label bottom">Setings</span> 
						        </div>
				
						        <div class="btn-small green">
						        	<i class="fa fa-wrench fa-2x"></i>
						        	<span class="label bottom">Survey List</span> 
						        </div>
				
						        <div class="btn-big redish">
						        	<i class="fa fa-wrench fa-2x"></i>
						        	<span class="label bottom">Survey List</span> 
						        </div> -->
			</div>
	        
        </div>
	</div>		
  </ion-content>
</ion-view>