
<div class="row">
	<div class="col question_div">
		<div class="ans_head">
			<p>You Answer:</p>
		</div>
		<div class="textBoxSurvey">
			<input type='text' name='textAnswer' ng-model='$parent.textAnswer' class='surveyTextBox' />
		</div>
		<div class="ans_footer">
			<!-- <p>Maxime quis.</p> -->
		</div>
	</div>
</div>

<!-- <div><input type='text' name='textAnswer' ng-model='textAnswer' class='surveyTextBox' disabled /><button class='dateBut button-small ion-android-calendar' ng-click='DatePicker()'></button></div> -->